@import "./mixins";
@import "./variables";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Inter, sans-serif;
    color: $primary-color2;
    background: $primary-color1;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter18pt-Regular.woff') format('woff');
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

input {
    background-color: transparent;
}
input:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
}