*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Inter, sans-serif;
    color: $primary-color2;
    background: $primary-color1;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter18pt-Regular.woff2") format("woff2"), url("../fonts/Inter18pt-Regular.woff") format("woff");
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

input {
    background-color: transparent;
}
input:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
}
@media (min-width: 1550px) {
    .tenten_20251224 .container {
        width: 1520px;
    }
}

.tenten_20251224 .tenten-heading {
    font-weight: 600;
    font-size: 4rem;
    line-height: 120%;
    text-align: center;

    @include screen(md) {
        font-size: 2.4rem;
        line-height: 140%;
    }

    & strong {
        background: linear-gradient(269.66deg, #44afff 0.12%, #0066b2 97.71%);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
