@use "sass:map";
$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px,
);

@mixin screen($key) {
    $breakpoint: map.get($grid-breakpoints, $key);
    @if ($breakpoint) {
        @media (max-width: ($breakpoint - 0.02)) {
            @content;
        }
    } @else {
        @error "The value #{$key} is not in breakpoints list";
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin center-height {
    top: 50%;
    transform: translateY(-50%);
}
@mixin center-width {
    left: 50%;
    transform: translateX(-50%);
}
@mixin text-g {
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
