@import "reset";
@import "variables";
@import "mixins";
@import "utils";
@import "base";

.tenten_20251224 {
    position: relative;
}

.tenten_20251224 .header {
    width: 100%;
    height: 90px;
    position: absolute;
    @include screen(lg) {
        padding: 0px 15px;
    }
    @include screen(md) {
        height: 46px;
    }
    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        @include screen(lg) {
            justify-content: space-between;
        }
    }

    &__left {
        margin-left: 45px;
        @include screen(lg) {
            margin-left: 0px;
        }
    }

    &__logo-wrap {
        @include flex-center;
        gap: 20px;
    }

    &__logo {
        cursor: pointer;
    }

    &__logo-second {
        margin-top: 10px;
        cursor: pointer;
    }

    &__right {
        display: flex;
        gap: 30px;
        margin-left: auto;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 16px;
        height: 53px;
        padding: 0px 17px;
        border-radius: 100px 0 0 100px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
        border: 2.35px solid;
        border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.29) 0%, rgba(241, 242, 246, 0) 100%);
        box-shadow: 0px -3.52px 18.89px 0px #4487fa2e;
        backdrop-filter: blur(35.20000076293945px);
    }

    &__cart {
        position: relative;
    }

    &__cart-count {
        @include flex-center;
        position: absolute;
        top: 0;
        right: -5px;
        padding: 0px 4px;
        border-radius: 100px;
        background-color: #df1111;
        font-size: 10px;
        font-weight: 500;
        color: #fff;
        height: 12px;
    }

    &__lang {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        & span {
            color: #fff;
            font-weight: 500;
        }
    }

    &__menu-mobile {
        display: none;
    }
}

.header-navbar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__list {
        display: flex;
        gap: 5px;
        @include screen(xxxl) {
            gap: 0px;
        }
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-weight: 500;
        padding: 6px 12px;
        border-radius: 100px;
        background: transparent;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
            background: #ffffff26;
        }

        @include screen(xxxl) {
            font-size: 1.4rem;
        }
    }
}

.tenten_20251224 .hero {
    background: url(../images/background-hero.png) no-repeat;
    background-size: cover !important;
    padding: 180px 0px;
    border-radius: 0px 0px 100px 100px;

    @include screen(lg) {
        padding: 120px 0px;
        gap: 20px;
        border-radius: 0px 0px 60px 60px;
    }
    @include screen(md) {
        padding: 80px 0px;
        border-radius: 0px 0px 40px 40px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-family: Mulish;
        font-weight: 900;
        font-style: Italic;
        font-size: 6rem;
        line-height: 140%;
        position: relative;

        @include screen(lg) {
            font-size: 4.4rem;
        }
        @include screen(md) {
            font-size: 2.4rem;
        }

        &::before {
            content: "";
            width: 50px;
            height: 50px;
            position: absolute;
            top: 49px;
            left: -24px;
            background-image: url(../images/star.svg);

            @include screen(lg) {
                background-image: none;
            }
        }

        &::after {
            content: "";
            width: 50px;
            height: 50px;
            position: absolute;
            top: -10px;
            right: -35px;
            background-image: url(../images/star.svg);
            @include screen(lg) {
                background-image: none;
            }
        }

        & .shadow {
            position: absolute;
            top: 0px;
            left: -1px;
            color: rgba(59, 159, 255, 0.8);
            text-shadow: 0px 10px 20px rgba(0, 35, 128, 0.7), 0px 4px 10px rgba(0, 97, 197, 0.5),
                0px 4px 4px rgba(255, 255, 255, 0.25);
            z-index: 1;
        }
        & .gradient {
            background: linear-gradient(180deg, #e9f2ff 30%, #92caff 60%, #3b9fff 80%);
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent;
            position: relative;
            z-index: 1;
        }
    }
}

.tenten_20251224 .hero-search {
    margin-top: 40px;

    @include screen(md) {
        margin-top: 20px;
        width: 100%;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__switch {
        display: inline-flex;
        background: #ffffff33;
        border-radius: 75px;
        height: 42px;
        gap: 5px;
    }

    &__switch-item {
        @include flex-center;
        padding: 10px 30px;
        border-radius: 75px;
        color: #fff;
        height: 42px;
        cursor: pointer;

        &.current {
            background: #063aac;
            border: 1.5px solid #ffffff33;
        }
    }

    &__input-wrap {
        margin-top: 30px;
        width: 930px;
        height: 68px;
        border-radius: 99px;
        background-color: #fff;
        display: flex;
        display: none;
        padding-left: 30px;
        @include screen(lg) {
            width: 700px;
            height: 54px;
        }
        @include screen(md) {
            width: 100%;
            margin-top: 0px;
            height: 100px;
            border-radius: 20px;
            padding: 10px;
        }
        &.active {
            display: flex;
        }
    }

    &__ai-mode {
        margin-right: 10px;
        display: none;

        &.active {
            display: block;
        }
    }
    
    &__ai-mode-domains {
        margin-top: 10px;
    }

    &__domains {
        height: 120px;
        border-radius: 32px;
        align-items: flex-start;
        padding-top: 10px;
    }

    &__input {
        width: 100%;
        padding-right: 30px;

        &::placeholder {
            font-size: 1.8rem;
            line-height: 140%;
            color: #b0c0de;
            @include screen(md) {
                font-size: 1.6rem;
            }
        }

        @include screen(md) {
            height: 30px;
            padding: 0px 0px;
            font-size: 1.6rem;
        }
    }

    &__input-domains {
        margin-top: 5px;
        width: 715px;
        height: 100%;
        padding-bottom: 10px;
        background: none;

        &::placeholder {
            font-size: 1.8rem;
            line-height: 140%;
            color: #b0c0de;
            @include screen(md) {
                font-size: 1.6rem;
            }
        }

        @include screen(md) {
            margin-top: 0px;
            margin-left: 5px;
        }
    }
    &__input-right {
        margin-left: auto;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 10px;
        margin-right: 10px;

        @include screen(md) {
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: flex-end;
            margin-right: 0px;
            height: 100%;
        }
    }

    &__aimode {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        line-height: 140%;
        color: #b0c0de;
        cursor: pointer;
        transition: all 0.25s ease;

        @include screen(md) {
            font-size: 1.4rem;
        }

        & img {
            transition: all 0.25s ease;
        }

        &:hover {
            color: #0066b2;

            & img {
                filter: brightness(0) saturate(100%) invert(25%) sepia(91%) saturate(1337%) hue-rotate(184deg)
                    brightness(98%) contrast(103%);
            }
        }
    }

    &__btn {
        @include flex-center;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background: linear-gradient(269.66deg, #44afff 0.12%, #0066b2 97.71%);
        box-shadow: 0px 0px 4px 0px #ffffff inset;
        box-shadow: 0px 0px 10px 0px #0066b24d;
        cursor: pointer;
        transition: all 0.25s ease;

        @include screen(lg) {
            width: 40px;
            height: 40px;
        }
        @include screen(md) {
            width: 36px;
            height: 36px;
        }

        &:hover {
            opacity: 0.9;
        }
    }
}

.tenten_20251224 .hero-domain {
    margin-top: 10px;
    width: 950px;
    position: relative;

    @include screen(lg) {
        width: 700px;
    }
    @include screen(md) {
        width: 100%;
    }

    &__inner {
        width: 850px;
        padding: 40px 10px;

        @include screen(lg) {
            padding: 20px 10px;
            width: 600px;
        }
        @include screen(md) {
            width: 100%;
        }
    }

    & .swiper-button-next::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6) inset, 0px 4px 40px 0px rgba(0, 10, 20, 0.6);
        backdrop-filter: blur(30px);
        background-image: url(../images/next.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    & .swiper-button-prev::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.6) inset, 0px 4px 40px 0px rgba(0, 10, 20, 0.6);
        backdrop-filter: blur(30px);
        background-image: url(../images/prev.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.tenten_20251224 .domain-item {
    @include flex-center;
    position: relative;
    flex-direction: column;
    height: 89px;
    gap: 0px;
    border-radius: 20px;
    box-shadow: 0px 10px 12px rgba(0, 21, 81, 0.5), inset 0px 0px 33.3px rgba(27, 189, 255, 0.3);
    backdrop-filter: blur(15px);
    background-color: rgba(0, 66, 255, 0.15);
    border: 2px solid transparent;
    cursor: pointer;

    &:hover {
        border: 2px solid #44afff;
    }

    &__name {
        font-weight: 600;
        font-style: Italic;
        font-size: 2rem;
        background: linear-gradient(209.26deg, #11d1ff -40.89%, #0066b2 262.48%);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include screen(md) {
            font-size: 1.8rem;
            line-height: 130%;
        }
    }

    &__sale-price {
        color: #fff;
        font-weight: 600;
        line-height: 140%;

        @include screen(md) {
            font-size: 1.4rem;
            line-height: 130%;
        }
    }

    &__rgl-price {
        color: #fff;
        opacity: 0.5;
        font-style: Italic;
        font-size: 1.4rem;
        line-height: 20px;
        text-decoration: line-through;

        @include screen(md) {
            font-size: 1.2rem;
            line-height: 20px;
        }
    }

    &.hot::before {
        content: "";
        position: absolute;
        background-image: url(../images/hot.png);
        top: -2px;
        left: -2px;
        width: 40px;
        height: 40px;
    }
}

.tenten_20251224 .hero-promotion {
    margin-top: 30px;
    display: flex;
    gap: 40px;

    @include screen(lg) {
        gap: 20px;
    }
    @include screen(md) {
        flex-direction: column;
        margin-top: 0px;
        align-items: center;
    }

    &__left {
        display: flex;
        flex-direction: column;
        position: relative;

        &::before {
            content: "";
            width: 50px;
            height: 50px;
            position: absolute;
            top: 40px;
            left: -30px;
            background-image: url(../images/star.svg);
            @include screen(md) {
                background-image: none;
            }
        }
        &::after {
            content: "";
            width: 50px;
            height: 50px;
            position: absolute;
            top: -25px;
            right: -30px;
            background-image: url(../images/star.svg);
            @include screen(md) {
                background-image: none;
            }
        }
    }

    &__label-group {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__label-mobile {
        width: 230px;
    }
    &__label-2 {
        @include center-width;
        position: absolute;
        top: 43px;
    }

    &__time {
        @include center-width;
        position: absolute;
        bottom: -25px;
        display: flex;
        gap: 16px;

        @include screen(md) {
            bottom: -35px;
        }
    }

    &__time-item {
        @include flex-center;
        width: 50px;
        height: 50px;
        font-weight: 600;
        font-size: 1.8rem;
        background-color: #fff;
        border-radius: 50%;
        backdrop-filter: blur(30px);
        box-shadow: 0px 4px 40px 0px rgba(58, 146, 255, 0.74);
        position: relative;

        @include screen(md) {
            width: 40px;
            height: 40px;
            font-size: 1.6rem;
        }

        &:not(:last-child)::after {
            content: "";
            position: absolute;
            background-image: url(../images/colon.svg);
            background-repeat: no-repeat;
            right: -26px;
            top: 20px;
            height: 20px;
            width: 20px;

            @include screen(md) {
                top: 14px;
            }
        }
    }

    &__right {
        position: relative;
        @include screen(md) {
            margin-top: 25px;
        }
    }

    &__background {
        position: relative;
        @include screen(md) {
            width: 343px;
            margin: 0 auto;
        }
    }

    &__decor-1 {
        position: relative;
        z-index: 1;
    }

    &__decor-2 {
        position: absolute;
        bottom: -12px;
        right: 0;
    }

    &__content {
        @include center;
        position: absolute;
        z-index: 2;
    }

    &__text {
        position: relative;
        color: #fff;
        font-weight: 600;
        font-style: Italic;
        font-size: 2.2rem;
        line-height: 31.98px;
        white-space: nowrap;
        padding-left: 20px;

        @include screen(md) {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 23.64px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            left: 0;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__text-desc {
        color: #fff;
        font-style: Italic;
        font-size: 1.8rem;
        line-height: 140%;
        margin-left: 14px;

        @include screen(md) {
            font-weight: 400;
            font-size: 1.4rem;
        }
    }

    &__gift-1 {
        position: absolute;
        bottom: -13px;
        left: -45px;
        z-index: 1;
    }
    &__gift-2 {
        position: absolute;
        top: -15px;
        right: -6px;
        z-index: 1;
    }
}
