@import "reset";
@import "variables";
@import "mixins";
@import "utils";
@import "base";

.tenten_20251224 {
    position: relative;
}

.tenten_20251224 .header {
    width: 100%;
    height: 90px;
    position: absolute;
    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__left {
        margin-left: 45px;
    }

    &__logo-wrap {
        @include flex-center;
        gap: 20px;
    }

    &__logo {
        cursor: pointer;
    }

    &__logo-second {
        margin-top: 10px;
        cursor: pointer;
    }

    &__right {
        display: flex;
        gap: 30px;
        margin-left: auto;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 16px;
        height: 53px;
        padding: 0px 17px;
        border-radius: 100px 0 0 100px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
        border: 2.35px solid;
        border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.29) 0%, rgba(241, 242, 246, 0) 100%);
        box-shadow: 0px -3.52px 18.89px 0px #4487fa2e;
        backdrop-filter: blur(35.20000076293945px);
    }

    &__cart {
        position: relative;
    }

    &__cart-count {
        @include flex-center;
        position: absolute;
        top: 0;
        right: -5px;
        padding: 0px 4px;
        border-radius: 100px;
        background-color: #df1111;
        font-size: 10px;
        font-weight: 500;
        color: #fff;
        height: 12px;
    }

    &__lang {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        & span {
            color: #fff;
            font-weight: 500;
        }
    }
}

.header-navbar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__list {
        display: flex;
        gap: 5px;
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-weight: 500;
        padding: 6px 12px;
        border-radius: 100px;
        background: transparent;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
            background: #ffffff26;
        }
    }
}

.tenten_20251224 .hero {
    background: url(../images/background-hero.png) no-repeat;
    background-size: cover !important;
    padding: 120px 0px;
    border-radius: 0px 0px 40px 40px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-family: Mulish;
        font-weight: 900;
        font-style: Italic;
        font-size: 6rem;
        line-height: 140%;
        position: relative;

        & .shadow {
            position: absolute;
            top: 0px;
            left: -1px;
            color: rgba(59, 159, 255, 0.8);
            text-shadow: 0px 10px 20px rgba(0, 35, 128, 0.7), 0px 4px 10px rgba(0, 97, 197, 0.5),
                0px 4px 4px rgba(255, 255, 255, 0.25);
            z-index: 1;
        }
        & .gradient {
            background: linear-gradient(180deg, #e9f2ff 30%, #92caff 60%, #3b9fff 80%);
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent;
            position: relative;
            z-index: 1;
        }
    }
}

.tenten_20251224 .hero-search {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__switch {
        display: inline-flex;
        background: #ffffff33;
        border-radius: 75px;
        height: 42px;
        gap: 5px;
    }

    &__switch-item {
        @include flex-center;
        padding: 10px 30px;
        border-radius: 75px;
        color: #fff;
        height: 42px;
        cursor: pointer;

        &.current {
            background: #063aac;
            border: 1.5px solid #ffffff33;
        }
    }

    &__input-wrap {
        margin-top: 30px;
        width: 930px;
        height: 68px;
        border-radius: 99px;
        background-color: #fff;
        display: flex;
    }
    &__input {
        width: 100%;
        padding: 0px 30px;

        &::placeholder {
            font-size: 1.8rem;
            line-height: 140%;
            color: #b0c0de;
        }
    }
    &__input-right {
        margin-left: auto;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 10px;
        margin-right: 10px;
    }

    &__aimode {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        line-height: 140%;
        color: #b0c0de;
        cursor: pointer;
        transition: all 0.25s ease;

        & img {
            transition: all 0.25s ease;
        }

        &:hover {
            color: #0066b2;

            & img {
                filter: brightness(0) saturate(100%) invert(25%) sepia(91%) saturate(1337%) hue-rotate(184deg)
                    brightness(98%) contrast(103%);
            }
        }
    }

    &__btn {
        @include flex-center;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background: linear-gradient(269.66deg, #44afff 0.12%, #0066b2 97.71%);
        box-shadow: 0px 0px 4px 0px #ffffff inset;
        box-shadow: 0px 0px 10px 0px #0066b24d;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
            opacity: 0.9;
        }
    }
}
